.bottom-cta[data-astro-cid-rnfb76xl] {
  isolation: isolate;
}

.bottom-cta-mark[data-astro-cid-rnfb76xl] {
  bottom: -116px;
}

@media (min-width: 640px) {
  .bottom-cta-mark[data-astro-cid-rnfb76xl] {
    bottom: -200px;
  }
}
